{% extends "base.html" %} {% block title %}О проекте{% endblock %}
{% block content %}

<style>
  body 
  {
    background-color: lightgray;
  }
</style>

<body>
  <br>
  <h1 align="center">О проекте</h1>
  <br>
  <h2>Что вы найдёте на карте?</h2>
  <br>
  <p>Мы отмечаем зоны, где строительство новых станций и линий наиболее целесообразно и эффективно с точки зрения:</p>
  <p>• <strong>Транспортной нагрузки:</strong> Районы с высокой плотностью населения и дефицитом транспортных альтернатив.</p>
  <p>• <strong>Перспектив развития:</strong> Спальные районы и новые жилые массивы, которым необходима интеграция в общегородскую сеть.</p>
  <p>• <strong>Транспортно-пересадочных узлов:</strong> Места для интеграции метро с наземным транспортом, МЦД и будущей канатной дорогой.</p>
  <br>
  <h2>Как это работает?</h2>
  <br>
  <p><strong>1. Исследуйте.</strong> Изучите предложенные нами локации станций метро на карты.</p>
  <p><strong>2. Анализируйте.</strong> Узнайте, почему тот или иной узел может стать ключом к разгрузке улиц и улучшению жизни тысяч людей.</p>
  <br>
  <h2>Почему это важно?</h2>
  <br>
  <p>Метро — это не просто тоннели и вагоны. Это:</p>
  <p>• Время, сэкономленное в пробках.</p>
  <p>• Экология, сохранённая за счёт сокращения числа машин.</p>
  <p>• Развитие отдалённых районов и повышение качества жизни.</p>
  <p>• Будущее, которое мы проектируем вместе.</p>
</div>
</body>

{% endblock %}