{% extends "base.html" %} {% block title %}Контакты{% endblock %}
{% block content %}

<style>
  body {
    background-color: lightgray;
  }
</style>

<body>
  <br>
  <h1 align="center"><strong>Наши контакты</strong></h1>
  <br>
  <p>• <strong>Канал нашего проекта в MAX:</strong> Тут будет ссылка на макс</p>
  <p>• <strong>Канал нашего проекта в Telegram:</strong> Тут будет ссылка на тг</p>
  <p>• <strong>Google форма с обратной связью на наш проект:</strong> ссылка на форму</p>
</body>

{% endblock %}